@using EV.Application.Services.EVs.Queries.GetEVs
@using EV.Domain.Entities.Common
@using EV.Domain.Entities.EV
@{
	Layout = null;
	string EVTitle = "";
	string pdfPath = ViewBag.pdfPath; 
}
@model Result<ResGetEvsDto>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>انتخاب واحد</title>
	<!-- CSS Stylesheets -->
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap4-rtl.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="rtl">
	<div class="contact1">
		<div class="container-contact1">
			
			<div class="row">
				<div class="col-sm-12">
					@if(Model.IsSuccess)
					{
						<label>انتخاب واحد های قبلی</label>
						<table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
							<thead>
								<tr role="row">
									<th class="sorting_asc" style="width: 222px;">شماره جدول</th>
									<th class="sorting" style="width: 401px;">عنوان</th>
									<th class="sorting" style="width: 401px;">وضعیت</th>
									<th class="sorting" style="width: 401px;"></th>
									<th class="sorting" style="width: 401px;"></th>
								</tr>
							</thead>
							<tbody>

								@for (int i = 0; i < Model.Data.EVs.Count; i++)
								{
									<tr role="row" class="odd">
										<td class="sorting_1">@(i + 1)</td>

										<td class="sorting_1">@Model.Data.EVs[i].Title</td>

										<td class="sorting_1">@Model.Data.EVs[i].StateStr</td>

										@if (Model.Data.EVs[i].State.Equals(EVState.Finished))
										{
											<td>
												<a class="btn btn-primary" asp-action="Charts" asp-route-EVId="@Model.Data.EVs[i].Id">مشاهده</a>
											</td>
										}
										else
										{
											<td>
												<a class="btn btn-success" asp-action="CompletEV" asp-route-EVId="@Model.Data.EVs[i].Id" asp-route-state="@Model.Data.EVs[i].State">تکمیل کردن</a>
											</td>
										}

										<td>
											<a class="btn btn-danger" asp-action="RemoveEV" asp-route-EVId="@Model.Data.EVs[i].Id">حذف</a>
										</td>
									</tr>
								}




							</tbody>

						</table>
					}

					else
					{
						<h2 class="text-danger">
							@Model.Message
						</h2>
					}
				</div>
				<br />
				<br />

				<div class="col-sm-12">
					<p>جهت انجام انتخاب واحد جدید ، عنوان آن را وارد کرده و دکمه ادامه را بزنید</p>
					<br />

					<form method="get" asp-action="SetTimes">
						<label>عنوان</label>
						<br />
						<input type="text" required placeholder="انتخاب واحد ترم 1 ..." asp-for="@EVTitle" />

						<button type="submit" class="btn btn-primary">ادامه</button>
					</form>

					<button class="btn btn-info" onclick="ShowPDF(@pdfPath)">آموزش کار با ابزار</button>
				</div>

			</div>
		</div>
	</div>
	<!-- Scripts -->
	<script src="~/js/jquery-3.1.1.min.js"></script>
	<script src="~/js/scripts.js"></script>

	<script>

		function ShowPDF(pdfPath){

			window.open(pdfPath,'_blank');
		}
	</script>
</body><!-- This template has been downloaded from Webrubik.com -->
</html>
