@using EV.Application.Services.Days.Queries.GetDays
@using EV.Application.Services.Lessons.Commands.AddLesson
@using EV.Application.Services.Times.Queries.GetTimes
@{
	Layout = null;
	ResGetTimes times = ViewBag.Times;
	ResGetDaysDto days = ViewBag.Days;
}
@model ReqAddLessonDto

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>انتخاب واحد</title>
	<!-- CSS Stylesheets -->
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap4-rtl.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="rtl">
	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="~/pics/img-01.png" alt="IMG">
			</div>
			<form class="contact1-form validate-form" method="post">
				<span class="contact1-form-title">فرم افزودن درس</span>
				<div class="wrap-input1 validate-input">
					<label> نام درس را وارد کنید:</label>
					<input class="input1" asp-for="@Model.Name" type="text">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input">
					<label>واحد درس را  وارد  کنید:</label>
					<input class="input1" asp-for="@Model.unit" type="number">
					<span class="shadow-input1"></span>
				</div>
				<br />

				<div class="wrap-input1 validate-input">
					<div id="Groups">

						<label>گروه 1</label>
						<div>
							<label>کد درس</label>
							<input required class="input1" asp-for="@Model.Groups[0].Code" type="text" placeholder="xxxxxxx_xx">
							<span class="shadow-input1"></span>
							<br />

							<label>ساعت کلاس</label>
							<select required asp-for="@Model.Groups[0].TimeId">
								@foreach (var item in times.Times)
								{
									<option value="@item.Id">@item.From - @item.To</option>
								}
							</select>
							<br />

							<label>روز کلاس</label>
							<select required asp-for="@Model.Groups[0].Day">
								@foreach (var item in days.Days)
								{
									<option value="@item.Value">@item.Day</option>
								}
							</select>
							<br />

							<label>نام استاد</label>
							<input required class="input1" asp-for="@Model.Groups[0].TeacherName" type="text">
							<span class="shadow-input1"></span>
							<br /> <br />

						</div>

						@for (int i = 1; i < 10; i++)
						{
							<label>گروه @(i + 1)</label>
							<div>
								<label>کد درس</label>
								<input class="input1" asp-for="@Model.Groups[i].Code" type="text" placeholder="xxxxxxx_xx">
								<span class="shadow-input1"></span>
								<br />

								<label>ساعت کلاس</label>
								<select asp-for="@Model.Groups[i].TimeId">
									@foreach (var item in times.Times)
									{
										<option value="@item.Id">@item.From - @item.To</option>
									}
								</select>
								<br />

								<label>روز کلاس</label>
								<select asp-for="@Model.Groups[i].Day">
									@foreach (var item in days.Days)
									{
										<option value="@item.Value">@item.Day</option>
									}
								</select>
								<br />

								<label>نام استاد</label>
								<input class="input1" asp-for="@Model.Groups[i].TeacherName" type="text">
								<span class="shadow-input1"></span>
								<br /> <br />

							</div>
						}


					</div>
				</div>

				<div class="container-contact1-form-btn">
					<button class="btn btn-primary" asp-action="AddLesson" type="submit">
						<span>
							درس بعدی 
							<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- Scripts -->
	<script src="~/js/jquery-3.1.1.min.js"></script>
	<script src="~/js/scripts.js"></script>
</body><!-- This template has been downloaded from Webrubik.com -->
</html>
