@using EV.Application.Services.Days.Queries.GetDays
@using EV.Application.Services.Lessons.Commands.AddLesson
@using EV.Application.Services.Times.Queries.GetTimes
@using Newtonsoft.Json;
@{
	Layout = null;
	ResGetTimes times = ViewBag.Times;
	ResGetDaysDto days = ViewBag.Days;
}
@model ReqAddLessonDto

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>انتخاب واحد</title>
	<!-- CSS Stylesheets -->
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap4-rtl.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/flatpickr.min.css" />
</head>
<body class="rtl">
	<div class="contact1">
		<div class="container-contact1">

			<form class="contact1-form validate-form" method="post">
				<span class="contact1-form-title">فرم افزودن درس</span>
				<div class="wrap-input1 validate-input">
					<label> نام درس را وارد کنید:</label>
					<input class="input1" name="name" type="text">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input">
					<label>واحد درس را  وارد  کنید:</label>
					<input class="input1" name="unit" type="number">
					<span class="shadow-input1"></span>
				</div>
				<br />

				<div class="wrap-input1 validate-input">
					<div id="groups">

						<div>
							<label>گروه 1</label>
							<div>
								<label>کد درس</label>
								<input class="input1" name="Groups[0].Code" type="text" placeholder="xxxxxxx_xx">
								<span class="shadow-input1"></span>
								<br />

								<label>نام استاد</label>
								<input class="input1" name="Groups[0].TeacherName" type="text">
								<span class="shadow-input1"></span>
								<br />

								<label>تاریخ امتحان</label>

								<h6>سال</h6>
								<input required class="input1" name="Groups[0].ExamDate[0]" type="number" placeholder="1404">

								<h6>ماه</h6>
								<input required class="input1" name="Groups[0].ExamDate[1]" type="number" placeholder="05">

								<h6>روز</h6>
								<input required class="input1" name="Groups[0].ExamDate[2]" type="number" placeholder="20">

								<h6>ساعت</h6>
								<input required class="input1" id="timePicker0" name="Groups[0].ExamTime" type="time" min="3:00" max="23:59" step="900">
								<span class="shadow-input1"></span>
								<br />

								<div id="classes0">
									<div>
										<h5>کلاس 1</h5>

										<label>ساعت کلاس</label>
										<select name="Groups[0].Classes[0].TimeId" class="timeSelect">
											@foreach (var item in times.Times)
											{
												<option value="@item.Id">@item.From-@item.To</option>
											}
										</select>
										<br />

										<label>روز کلاس</label>
										<select name="Groups[0].Classes[0].Day" class="daySelect">
											@foreach (var item in days.Days)
											{
												<option value="@item.Value">@item.Day</option>
											}
										</select>
										<br />
									</div>
								</div>

								<a class="btn btn-primary" onclick="addClass(0)">افزودن کلاس</a>
								<br />
								<br />
							</div>
						</div>
						<hr />

					</div>
					<a class="btn btn-info" onclick="addGroup()">افزودن گروه</a>
					<br />
				</div>

				<div class="container-contact1-form-btn">
					<button class="btn btn-primary" asp-action="AddLesson" type="submit">
						<span>
							درس بعدی 
							<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				<br />
				<div class="container-contact1-form-btn">
					<button class="btn btn-light" type="submit">
						<span>
							ثبت درس و دیدن نتایج
							<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- Scripts -->
	<script src="~/js/jquery-3.1.1.min.js"></script>
	<script src="~/js/scripts.js"></script>
	<script src="~/js/flatpickr.min.js"></script>
	<script>
		let Times = @Html.Raw(JsonConvert.SerializeObject(times.Times));
		let Days = @Html.Raw(JsonConvert.SerializeObject(days.Days));

		let TimesOption = '';
		for(let item of Times)
		{
			TimesOption += `<option value="${item.Id}">${item.From}-${item.To}</option>`;
		}

		let DaysOption = '';
		for(let item of Days)
		{
			DaysOption += `<option value="${item.Value}">${item.Day}</option>`;
		}

		
		let classesIndex = [1];
		let groupsIndex = 1;
		let timePickerIndex = 1;

		function addClass(groupIndex){

			let newDiv = document.createElement("div");
			newDiv.innerHTML = `<h5>کلاس ${classesIndex[groupIndex]+1}</h5>

										<label>ساعت کلاس</label>
										<select name="Groups[${groupIndex}].Classes[${classesIndex[groupIndex]}].TimeId" class="timeSelect">
											${TimesOption}
										</select>
										<br />

										<label>روز کلاس</label>
										<select name="Groups[${groupIndex}].Classes[${classesIndex[groupIndex]}].Day" class="daySelect">
											${DaysOption}
										</select>
										<br />`;

			document.getElementById(`classes${groupIndex}`).appendChild(newDiv);
			classesIndex[groupIndex]++;
		}

		function addGroup(){

			let newGroup = document.createElement("div");
			newGroup.innerHTML = `<div>
							<label>گروه ${groupsIndex+1}</label>
							<div>
								<label>کد درس</label>
								<input class="input1" name="Groups[${groupsIndex}].Code" type="text" placeholder="xxxxxxx_xx">
								<span class="shadow-input1"></span>
								<br />

								<label>نام استاد</label>
								<input class="input1" name="Groups[${groupsIndex}].TeacherName" type="text">
								<span class="shadow-input1"></span>
								<br />

								<label>تاریخ امتحان</label>

								<h6>سال</h6>
								<input class="input1" name="Groups[${groupsIndex}].ExamDate[0]" type="number" placeholder="1404">

								<h6>ماه</h6>
								<input class="input1" name="Groups[${groupsIndex}].ExamDate[1]" type="number" placeholder="05">

								<h6>روز</h6>
								<input class="input1" name="Groups[${groupsIndex}].ExamDate[2]" type="number" placeholder="20">

								<h6>ساعت</h6>
								<input required class="input1" id="timePicker${timePickerIndex}" name="Groups[${groupsIndex}].ExamTime" type="time" min="3:00" max="23:59" step="900">

								<span class="shadow-input1"></span>
								<br />

								<div id="classes${groupsIndex}">
									<div>
										<h5>کلاس 1</h5>

										<label>ساعت کلاس</label>
										<select name="Groups[${groupsIndex}].Classes[0].TimeId" class="timeSelect">
											${TimesOption}
										</select>
										<br />

										<label>روز کلاس</label>
										<select name="Groups[${groupsIndex}].Classes[0].Day" class="daySelect">
											${DaysOption}
										</select>
										<br />
									</div>
								</div>

								<a class="btn btn-primary" onclick="addClass(${groupsIndex})">افزودن کلاس</a>
								<br />
								<br />
							</div>
						</div><hr />`;

			document.getElementById("groups").appendChild(newGroup);
			groupsIndex++;
			classesIndex.push(1);

			flatpickr(`#timePicker${timePickerIndex}`, {
			enableTime: true,
			noCalendar: true,
			dateFormat: "H:i",  // 24 ساعته
			time_24hr: true
			});

			timePickerIndex++;
		}

		flatpickr("#timePicker0", {
			enableTime: true,
			noCalendar: true,
			dateFormat: "H:i",  // 24 ساعته
			time_24hr: true
		});
	</script>
	
</body><!-- This template has been downloaded from Webrubik.com -->
</html>
